*{  font-family: Arial, Helvetica, sans-serif;
    padding:0 ;
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
#topo-site{
    background-color: rgb(51, 49, 49);
}
#menu-nav{
    width: 20%;
    margin-right: 76%;
    padding: 30px;
    background-color: rgb(80, 89, 89);
    border: solid 3px rgba(0, 0, 0, 0.606);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.59);
    /*animação menu*/
    opacity: 0;
    transform: scaleY(0);
    transform-origin: left;
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: block; /* Garante que ele está sempre no fluxo */
    height: 500px; /* Ajusta ao conteúdo */
}
#menu-nav.show{
    opacity: 1;
    transform: scaleY(1);
}
#nav-img{
margin-left: 30px;
width: 80px;
border: solid 5px rgb(48, 154, 214);
border-radius: 100%;
}
#containe{
    background-color: rgb(255, 255, 255);
    margin-top: 20%;
    line-height: 30px;
    width: 100%;
    padding: 5%;
    color: rgb(0, 0, 0);
}
#conteudo-ul, a{
    color: black;
    text-decoration: none;
    text-align: center;
    margin: auto;
}
#capa-fundo{
    background-image: url(../imagens/imgem-tokyo.jpg);
    background-size: cover;
    padding: 10%;
}
.itens{
    padding: 5px;
    background-color: rgba(0, 217, 255, 0.093);
    display: block;
    list-style-type: none;
    margin: 30px;
}
#botao-menu{
    background-color: rgb(51, 49, 49);
    border: 0px;
    cursor: pointer;
    margin-right: 85%;
    width: 50px;
    padding: 20px;
}
#icone-menu{
    width: 50px;
}