*{ 
  margin: 0;
  padding: 0;
}

header{
  padding: 50px;
 background-color: black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.335);
  border-radius: 50px;
  display: none;
  line-height: 50px;
  font-weight: bold;
  text-transform: capitalize;
  color: rgb(6, 138, 254);
font-size: 1.7em;
overflow: hidden;
margin-left: 50px;



}

#menu-botao, button{
  width: 50px;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
 
}
body{
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(2, 63, 80);
  width: 100vh;
  background-color: rgb(255, 250, 250);
  overflow-x: hidden;
 
  

}
.imagens{
  width: 150px;
  padding: 30px;
 
}
h2{
  margin-top: 100px;
}


#seçao{
  margin: auto;
 width: 90%;
  line-height: 60px;
  padding: 30px;
  border-radius: 30px;
  border: solid 1px rgba(0, 0, 0, 0.403);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.437);
  background-color: rgb(124, 127, 130);
  margin-top: 30px;
  text-align: justify;
  overflow: hidden;
  font-size: 2em;
 
}
.redes-sociais{
  display: flex;
text-align: center;
margin-right: 150px;
  width: 60px;
 
}
.projetos{
  margin: auto;
  margin-top: 500px;
  margin-top: 400px;
 padding: 20px;
width: 90%;
height: 100%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.399);
}
.img{
  transition: 1s;
  width: 300px;
  border-radius: 30px;
  padding: 20px;
}
.artigo-p{
  color: rgb(255, 255, 255);
  font-size: 1.4em;
  margin-top: 100px;
}
.artigo-h1{  color: rgb(4, 162, 241);
  background-color: rgba(0, 0, 0, 0.048);
  border-radius: 30px;
  padding: 10px;
  font-size: 3.3em;

}
.link-botao{
  background-color: rgb(15, 157, 234);
  border: 0;
  width: 200px;
  margin-top: 50px;
  font-size: 1.2em;
  
}

#pe-do-site{
  background-color: rgb(27, 147, 226);
  margin-top: 400px;
width: 100%;
height: 100%;

}
ul{
  display: flex;
  list-style-type: none;
 
}
article{
  width: 99%;
  border: solid 2px black;
  background-color: rgb(25, 40, 54);
  margin-top: 100px;
 
 
}
#art-2{
 
 
  
}

#botao{
  font-weight: bold;
  margin: auto;
  color: rgb(255, 255, 255);
  background-color: rgb(38, 119, 250);
  width: 100px;
  height: 30px;
 border: 0;
}
.img:hover{
  cursor: zoom-in;
 
}
h2, p{
  padding: 10px;
 
}
.artigo-h2{
  color: rgb(11, 147, 237);
  font-size: 2.2em;
  text-transform: capitalize;
}
a{
  font-size: 1.4em;
  color: rgb(251, 251, 251);
  font-weight: bold;
  text-decoration: none;
  text-transform: capitalize;
}
.link-botao:hover{
 background-color: rgb(3, 18, 55);
  transition: .3s;
}
#ul-icones{
  display: flex;
  margin-left: 200px;
  margin-right: 90px;
  
}

@media screen and (min-width: 800px){
  header{
      width: 100%;
      padding: 50px;
      border-radius: 50px;
      background-image: linear-gradient(rgb(48, 50, 49), rgba(0, 0, 0, 0.559));
    
  }
  body{
   
  }
  ul, li{ 
    
      margin-right: 350px;
      padding: 10px;

  }
  #menu-botao{
      padding: 20px;
  }
  .redes-sociais{
   
   
  }
 #pe-do-site{
  font-size: 1.1em;
  text-align: center;
 width: 100vw;
 color: aliceblue;
  background-color: rgb(12, 22, 29);
  font-weight: bold;
 } 
 .redes-sociais{
  width: 50px;
margin-right: 200px;

 }
 #seçao{
  width: 90vw;
 
 }
 .projetos{
  width: 90vw;
  
 }
 .projetos{
 
 }
 main{
  margin-top: 300px;
  border: solid 2px;
  font-size: 1.7em;
 }
 
}