*{
    margin: 0;
    padding: 0;
}

header{
    padding: 50px;
    background-image: linear-gradient(rgb(48, 50, 49), rgba(0, 0, 0, 0.559));
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.335);
    border-radius: 50px;
    display: none;
    line-height: 50px;
    font-weight: bold;
    text-transform: capitalize;
    color: rgb(6, 138, 254);
  font-size: 1.3em;
  overflow: hidden;
  margin-left: 50px;
 
  
}

#menu-botao, button{
    width: 30px;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
   
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(2, 63, 80);
    width: 100vh;
    background-color: rgb(96, 94, 94);
   
    

}
.imagens{
    width: 150px;
    padding: 30px;
}
h2{
    margin-top: 100px;
}


#seçao{
    line-height: 60px;
    padding: 30px;
    border-radius: 30px;
    border: solid 1px rgba(0, 0, 0, 0.403);
    margin-top: 30px;
    text-align: justify;
    overflow: hidden;
    font-size: 2em;
   
    
   
   
    
}
.redes-sociais{
    width: 70px;
    margin-right: 160px;
   
  
   
}

#pe-do-site{
    background-color: rgb(110, 108, 108);
    padding: 10px;
    margin-top: 200px;
    margin-left: 200px;
  
   
  
   
    
}
 ul{
    display: flex;
    list-style-type: none;
   
}
article{
    width: 100%;
  background-color: rgb(129, 129, 129);
    border: solid 1px black;
    margin-top: 100px;
    border-radius: 20px;
   
}

  
   



@media screen and (min-width: 900px){
    header{
        padding: 50px;
        border-radius: 50px;
        background-image: linear-gradient(rgb(48, 50, 49), rgba(0, 0, 0, 0.559));
      
    }
    ul, li{ margin-right: 350px;
        padding: 10px;

    }
    #menu-botao{
        padding: 20px;
    }
    #seçao{ margin-left: 200px;
        width: 100%;

    }
}