*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#containe-1{
    background-color: rgb(234, 239, 237);
    width: 700px;
    height: 200px;
    background-image: url(../jogos/imagens/estelar.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#containe-2{
    background-color: rgb(39, 51, 47);
    width: 700px;
    height: 200px;
}
#containe-3{
    background-color: rgb(27, 215, 152);
    width: 700px;
    height: 200px;
}
#containe-4{
    background-color: rgb(7, 29, 22);
    width: 700px;
    height: 200px;
}
div{
    margin: 50px;
}