*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
   background-image: url(../jogos/imagens/capa\ projeto.jpg);
   background-size: cover;
   background-position: center;
    height: 100%;
    width: 100%;
    color: rgb(48, 106, 232);
    padding: 30px;
    font-size: 1.3em;
    box-shadow: 3px 3px 3px rgba(0, 162, 255, 0.403);
}
body{
    border: solid 1px black;
    
}
#containe-1{
    background-color: rgb(255, 255, 255);
    width: 700px;
    height:100%;
    background-image: url(../jogos/imagens/stelar-img.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
    
}
#containe-2{
    background-color: rgb(190, 189, 189);
    width: 700px;
    height:100%;
    background-image: url(../jogos/imagens/granblue\ capa.webp);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
}
#containe-3{
    background-color: rgb(248, 248, 248);
    width: 700px;
    height:100%;
    background-image: url(../jogos/imagens/elder\ ring\ capa.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
}
#containe-4{
    background-color: rgb(190, 189, 189);
    width: 700px;
    height:100%;
    background-image: url(../jogos/imagens/final_fantasy_capa-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
}
#containe-5{
    background-color: rgb(255, 255, 255);
    width: 700px;
    height:100%;
    background-image: url(../jogos/imagens/final\ fantsy\ xvi\ capa.jpeg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
}
#containe-6{
    background-color: rgb(190, 189, 189);
    width: 700px;
    height:100%;
    background-image: url(../jogos/imagens/horizon\ capa.webp);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
}
#containe-7{
    background-color: rgb(255, 255, 255);
    width: 700px;
    height:100%;
    background-image: url(../jogos/imagens/mk1\ capa.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 150px;
}
div{
    margin: 150px ;
    padding: 30px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.387);
    border: solid 1px black;
   
    
   
}
div:hover{
    box-shadow: 5px 5px 5px rgb(14, 93, 210);
}
h2, p{
   margin-top: 30px;
    color: rgb(10, 115, 207);
  
}
h2{
    text-transform: capitalize;
    font-size: 2em;
}
#sub-titulo{
    margin-top: 100px;
    padding: 30px;
    text-decoration: underline;
}
.info{
    margin-top: 200px;
    font-weight: bold;
    padding: 5px;
    display: inline-block;
    background-color: rgb(34, 182, 209);
}
.info:hover{
    cursor: pointer;
    color: aqua;
    background-color: rgb(3, 28, 72);
}
#botao-comprar{
    cursor: pointer;
    font-weight: bold;
    width: 30%;
    border: 0;
    padding: 5px;
    margin-left: 450px;
    display: inline-block;
    background-color: rgb(2, 135, 244);
}
#botao-comprar:hover{
    background-color: rgb(0, 0, 62);
    color: aqua;
    transition: .3s;
}
.sinop{
    line-height: 40px;
    margin-left: 150px;
}

@media screen and ( max-width: 1250px){
#containe-1{
height: 50%;
width:650px;

}
#botao-comprar{
   margin-right: 500px;
}
body{
    background-color: rgb(255, 255, 255);
}
}


@media screen and (max-width: 800px){
    
    body{
      font-size: 1.5em;
    width: 100vw;
    }
    header{
        background-size: cover;
        width: 100vw;
        overflow: hidden;
        background-image: url(../jogos/imagens/capa\ projeto.jpg);
        height: 100%;
    }
    div{
       
        margin-top: 200px;
      overflow: hidden;
      width: 70%;
    }
    #containe-1{
        width: 70%;
        height: 50%;
    }
    #containe-2{
        width: 70%;
        height: 50%;
    }

    #containe-3{
        width: 70%;
        height: 50%;
    }
    #containe-4{
        width: 70%;
        height: 50%;
    }
    #containe-5{
        width: 70%;
        height: 50%;
    }
    #containe-6{
        width: 70%;
        height: 50%;
    }
    #containe-7{
        width: 70%;
        height: 50%;
    }
    #botao-comprar{
       margin: 50px;
       font-size: 1.2em;
    }
}