*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}header{
    background-image: url(../cardapio/imagens/walpeper\ site.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
}

div{
display: inline-block; 
margin-top: 300px;   
}
#containe-1{
background-image: url(../cardapio/imagens/xtudo.jpeg);
background-repeat: no-repeat;
background-position: center center;
width: 500px;

}
#containe-2{
background-color: rgb(2, 9, 9); 
width: 300px;
height: 200px;
}
#containe-3{
background-color: rgb(2, 179, 179); 
width: 300px;
height: 200px;
}
#containe-4{ 
background-color: rgb(0, 255, 60); 
width: 300px;
height: 200px;
}
#containe-5{
background-color: rgb(2, 37, 37); 
width: 300px;
height: 200px;
}

                  