@charset  "UTF-8";
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    border: solid 3px rgba(0, 0, 0, 0.373);
    background-color: rgb(255, 255, 255);
}


header{
    background-color: rgb(5, 57, 162);
    color: aliceblue;
    padding: 30px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.433);
}

   
 nav{
    margin-bottom: 100px;
    background-color: rgb(4, 58, 89);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.482);
    text-align: center;
    height: 50%;
    
 }
 #opçoes{
    border-radius: 30px;
    margin: auto;
    width: 50%;
    height: 100%;
    background-color: rgba(87, 89, 89, 0.671);
 }
 input{
   margin: 20px;
    padding: 5px;
    font-weight: bold;
   background-color: rgb(76, 78, 80);
 }
 form{
    display: none;
    padding: 30px;
    margin: auto;
    height: 100%;
    width: 50%;
    background-color: aliceblue;
    border: solid 1px black;
 }
 #form-nav{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.594);
    display: none;
 }
 #form-login{
   box-shadow: 5px 5px 5px black;
    display: none;
    width: 50%;
    height: 50%;
 }
 .botao-cad{
    padding: 10px;
    color: aliceblue;
    background-color: rgb(4, 44, 56);
 }
 
   ul,li , a{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(0, 231, 235);
    display: inline;
    text-transform: capitalize;
    line-height: 50px;
   
    
   }
   .list{
    margin: 30px;
    padding: 30px;
   
   }
 a:hover{
    transition: .5;
color: rgb(6, 125, 230);
border-radius: 100px;



}

div{
    min-height: 550px;
    max-height: 600px;
    width: 200px;
   display: inline-block;
   margin-left: 40px;
   margin-top: 200px;
   border-radius: 30px;
   border: solid 2px rgba(0, 0, 0, 0.372);
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
   overflow: hidden;
   background-color: rgb(107, 110, 111);
   color: rgb(9, 9, 9);
   padding: 30px;
   
    
}
div:hover{
border: solid 2px rgb(81, 81, 81);
box-shadow: 4px 4px 4px rgba(0, 98, 227, 0.352);
}
h2{
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 30px;
    padding: 10px;
    text-transform: capitalize;
    margin-top: 200px;
}

p{
    margin-top: 200px;
    color: black;
    font-weight: bold;
    background-color: rgba(5, 124, 236, 0.371);
    border-radius: 30px;
    padding: 10px;
    
}
.card-botao{
    display: block;
    background-color: black;
    color: aliceblue;
    padding: 15px;
    border-radius: 20px;
    margin-top: 30px;
    width: 70%;
    text-transform: uppercase;
}
.card-botao:hover{
    background-color: rgb(235, 225, 225);
    color: rgb(4, 1, 1);
    cursor: pointer;
    font-weight: bold;
}

#card-1{ background-image: url(../imagens/imagem-nova\ york.jpg);
    background-repeat: no-repeat;
    background-size: 350px;

}
#card-2{  background-image: url(../imagens/imagem-miami.webp);
    background-repeat: no-repeat;
    background-size: 300px;
    
  
}
#card-3{  background-image: url(../imagens/imgem-tokyo.jpg);
    background-repeat: no-repeat;
    background-size: 370px;
    
  
}
#card-4{  background-image: url(../imagens/imagem\ -\ toronto.jpeg);
    background-repeat: no-repeat;
    background-size: 300px;
}
.valor{
    margin-top: 20px;
    text-decoration: underline;
    color: rgb(176, 174, 174);
   
    
}
img, button{
    display: none;
}
footer, p{
    color: rgb(254, 254, 254);
    background-color: black;
    text-align: center;
}
@media screen and (max-width: 850px){
    #itens{
        display: none;
        height: 350px;
        line-height: 10px;
    }
    img, button{
        width: 30px;
        display: inline;
        cursor: pointer;
        border: none;
        background-color: transparent;
        margin-top: 10px;
      margin-left: 50%;
    }
    .list{ 
       display: block;
      height: 1px;
      margin-top: 0px;
     
    
        
    }
a:hover{ background-color: rgba(252, 252, 252, 0);
    color: black;
 
       
    }
    .card-botao{
        margin-left: 30px;
    }
    .botao-cad{
        display: block;
    } 
    
}