*{
    padding: 0;
    margin: 0;
}
#capa-header{
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    background-image: url(../imagens/pexels-lee-campbell-18167-115655.png);
    background-size: cover;
    height: 800px;

}
#menu{
    padding: 20px;
    background-color: rgb(17, 17, 17);
}
.ul-li, a{
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
    color: white;
    margin: 5%;
    display: inline;
    list-style: none;
    text-decoration: none;
}

.text-h1{
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.865);
    font-size: 5em;
    color: rgb(255, 255, 255);
    text-indent: 50px;
    padding: 3%;
}
.text-h2{
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.813);
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-indent: 50px;

}
body{
    color: white;
    background-color: rgb(255, 255, 255);
}
main{
    display: flex;
    padding: 10%;
    display: flex;
    background-color: rgb(255, 255, 255);
}
.main-h2{
    text-decoration: underline;
    color: orange;
    font-size: 2.5em;
   text-align: center;
}
.icones{
    width: 100px;
}
div{
    border-radius: 10px;
    padding: 100px;
    margin: 50px;
    width: 30%;
    height: 400px;
    color: black;
    background-color: blanchedalmond;
}
#card-1{
    background-color: rgb(255, 255, 255);
    
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    font-size: 1.5em;
}
#card-2{
    background-color: rgb(255, 255, 255);
    
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    font-size: 1.5em;
}
#card-3{
    background-color: rgb(98, 95, 95);
}
.botao{
    width: 100px;
    padding: 5px;
    background-color: rgb(215, 153, 8);
    display: none;
   
}
#seçao-1{
    padding: 100px;
    color: rgb(206, 146, 17);
    background-color: rgb(48, 47, 47);
}
.imagens{
  width: 450px;
  margin-bottom: 10%;
  border-radius: 20px;
}


@media screen and (min-width: 600px){
   #capa-header{
    font-size: .7em;
   }
   #menu.Show{
height: 100px;
background-color: rgb(42, 39, 39);
opacity: 1;
transition: .5s;
transform: translate(-100%);
   }
 .ul-li,a{
margin: 5px;
   }
   .Show{
    opacity: 1;
    transition: .5s;
    transform: translate(100%);
   
   }
  .botao{
    display: block;
   
  }  
 
}