*{
    padding: 0;
    margin: 0;
}
#capa-header{
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    background-image: url(../imagens/imagem-nova\ york.jpg);
    background-size: cover;
    height: 800px;

}
.text-h1{
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.865);
    font-size: 5em;
    color: rgb(255, 255, 255);
    text-indent: 50px;
    padding: 3%;
}
.text-h2{
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.813);
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-indent: 50px;

}
body{
    color: white;
    background-color: rgb(255, 255, 255);
}
main{
    display: flex;
    padding: 10%;
    display: flex;
    background-color: rgb(255, 255, 255);
}
.main-h2{
    text-decoration: underline;
    color: orange;
    font-size: 2.5em;
   text-align: center;
}
.icones{
    width: 100px;
}
div{
    border-radius: 10px;
    padding: 100px;
    margin: 50px;
    width: 30%;
    height: 400px;
    color: black;
    background-color: blanchedalmond;
}
#card-1{
    background-color: rgb(255, 255, 255);
    
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    font-size: 1.5em;
}
#card-2{
    background-color: rgb(59, 53, 53);
}
#card-3{
    background-color: rgb(98, 95, 95);
}
.botao{
    width: 150px;
    margin-top: 50%;
    padding: 10px;
    background-color: rgb(215, 153, 8);
}
#seçao-1{
    padding: 100px;
    color: rgb(206, 146, 17);
    background-color: rgb(48, 47, 47);
}
.imagens{
  width: 450px;
  margin-bottom: 10%;
  border-radius: 20px;
}
