* {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.59);
     font-weight: bold;
     color: rgb(66, 66, 66);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}
body {
    background-color: rgb(231, 222, 222);
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-x: hidden; 
}
 
 
#div-texto, #div-ul {
    position: relative;
    text-align: center;
    background-color: transparent;
    color: rgb(255, 255, 255); 
    z-index: 1; 
    padding: 20px; 
}
h1 {
    text-shadow: 5px 5px 3px rgb(0, 0, 0);
    font-size: 4.5em;
}
h2{
    text-shadow: 3px 3px 3px black;
    text-transform: capitalize;
    color: rgb(36, 39, 41);
    font-size: 4em;
    text-align: center;
}

p {
    color: white;
   padding: 20px;
    font-size: 1.5em;
    margin-top: 50px; 
}
img{
    width: 40px;
}
.p-video{
width: 50%;
color: aliceblue;
background-color: rgba(0, 0, 0, 0.488);
line-height: 50px;
position: absolute;
z-index: 1;
}
.p-main{

    color: rgb(255, 254, 251);
    background-color: rgba(0, 0, 0, 0.45);
    line-height: 60px;
    width: 50%;
}
#div-ul {
    list-style: none; 
}
#div-ul ul {
   display: flex;
    justify-content: center; 
}
#div-ul ul li {
    text-transform: capitalize;
    list-style-type: none;
   margin: 40px;
}
#div-ul ul li a {
    color: rgb(0, 0, 0); 
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.433);
    text-decoration: none; 
    font-size: 1.5em; 
}
a:hover{
  color: blue;
   
}
.botao{
    border: 0;
    margin: auto;
    margin-top: 300px;
    font-weight: bold;
    font-size: 1.4em;
    color: rgb(255, 255, 252);
    background-color: rgba(0, 0, 0, 0.453);
    height: 40px;
    width: 200px;
}
.botao:hover{
    width: 500px;
    transition: .2s;
    color: rgb(0, 0, 0);
    background-color: rgba(127, 126, 124, 0.59);
}
.botao-a:hover{
    background-color: transparent;
}
#fundo{ 
background-image: url(../imagens/wallpapersden.com_silent-hill-2-remake-4k_2340x1080.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
width: 100%;
}
video{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;

}
#main-video{
    
width: 100%;
position: relative;
z-index: 0;
}
#main-texto{
    width: 100%;
   height: 100%;
    background-image: url(../imagens/sh2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    padding: 20px;
    text-align: center;
    color: white;
    background-color: rgb(234, 7, 7);
}

@media (max-width: 600px) {
h1 {
font-size: 6em;
}
body{
height: 100vh;
width: 100vw;
}

p {
font-size: 2em;

}
.p-video{
    font-size: 1.6em;
    width: 50%;
    height: 100%;
  background-color: transparent;
 
}
.p-main{
font-size: 1.6em;
}
#main-video{
   width: 220%;
}
#main-texto{
    background-size: cover;
   height: 100%;
    width: 220%;
}
img{
    width: 70px;
}
#div-ul ul li {
    width: 50%;
font-size: 1.5em;
margin: 30px ;
}

#div-ul ul li a {
font-size: 1.9em;
}

.botao {
font-size: 3em;
height: 100px;
width: 200px;



}
#fundo{
background-image: url(../imagens/wallpapersden.com_silent-hill-2-remake-4k_2340x1080.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 220%;
height: 100%;
}
.p-video{
    width: 50%;
    background-color: rgba(0, 0, 0, 0.445);
}
video{
width: 100%;
}
footer{
    width: 220%;
}
}
