*{  font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

 ul, li{
    padding: 20px;
    font-size: 1.3em;
    color: rgb(7, 141, 18);
    font-weight: bold;
   display: inline-flex;
    text-align: center;
    width: 100%;
}
body{
background-color: rgb(128, 126, 124);
width: 100vw;
height: 100vh;
overflow-x: hidden;
}
section{
    background-color: rgb(128, 126, 124);
    display: flex;
}
section, p{
    padding: 5%;
    line-height: 50px;
    font-size: 1.3em;
    font-weight: bold;
}
#seçao-1{
flex-direction: row;
}
#seçao-2{
   flex-direction: row-reverse;
}
#seçao-3{
    flex-direction: row;
}
 #seçao-4{
    flex-direction: row-reverse;
}
.section-p{
    color: black;
}
img{
    border-radius: 20px;
    width: 30%;
    transition: transform 0.3s ease; 
} 
img:hover{
    cursor: zoom-in;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.662);
    transform: scale(1.1);
}
button{
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.383);
    border-radius: 30px;
    font-size: 1.5em;
    border: 0;
    margin: auto;
    width: 15%;
    background-color: rgb(24, 165, 46);
    display: block;
    font-weight: bold;
    padding: 10px;
    transition: .2s;
}
.botao-1:hover{
    margin-right: 50%;
    width: 40%;
    transition: .5s;
    cursor: pointer;
    color: rgb(252, 252, 252);
    background-color: black;
}
.botao-2:hover{
margin-left: 40%;
width: 40%;
transition: .5s;
cursor: pointer;
color: rgb(252, 252, 252);
background-color: black;
}
.botao-3:hover{
    margin-right: 40%;
    width: 40%;
    transition: .5s;
    cursor: pointer;
    color: rgb(252, 252, 252);
    background-color: black;
}
.botao-4:hover{
    margin-left: 40% ;
    width: 40%;
    transition: .5s;
    cursor: pointer;
    color: rgb(252, 252, 252);
    background-color: rgb(40, 39, 39);
}
#containe{
    margin-top: 25%;
    background-color: rgb(128, 126, 124);
    width: 100vw;
    display: flex;
}
div{
    margin: 4%;
    padding: 5px;
    transition: .4s;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(100, 96, 96);
    width: 80%;
    height: 700px;
    border: solid 2px black;
    background-position: center center ;
    background-size: cover;
    
}
div::before{
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.655); 
    z-index: 1; 
    border-radius: 5px; 
    pointer-events: none;
}
div::after{
    position: relative;
    z-index: 2;
}

div, h2, p{
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.478);
    color: rgb(33, 207, 17);
}
div,h2{
    padding: 3px;
   background-color: rgb(3, 2, 2);
   color: white;
}
#card-1{
    background-image: url(./page-img/ps5Pro.jpg);
   
  
}
#card-2{
    background-image: url(./page-img/seriesS.avif);
}
#card-3{
    background-image: url(./page-img/nitendoSwich.webp);
}
#card-4{
    background-image: url(./page-img/Steam-Deck-scaled.jpg);
}
.botao-compra{
    border-radius: 10px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.341);
    transition: .5;
}
.botao-compra:hover{
    width: 90%;
    background-color: aliceblue;
    transform: scale(1.1);
}
div:hover{
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
    transform: scale(1.1);
}
footer{
    margin-top: 30%;
    color: white;
    background-color: rgb(50, 48, 48);
}
.icone-pe{
    width: 20%;
}
.icone-pe:hover{
    cursor: pointer;
    width: 20%;
}
@media screen and (max-width: 1000px){
    nav{
        width: 100%;
    }
    nav,ul,li{
        display: inline-block;
      
      
    }
    section, p{
      width: 100%;
    }
    button{
        width: 50%;
    }
    #containe{
        width: 100%;
        display: inline-block;
    }
    div{
        width: 100%;
        height: 500px;
    }
}